/.idea/
/.env.local
/.env.*.local
/.phpunit.result.cache
/node_modules/
/vendor/
/var/
/config/secrets/*/*.decrypt.private.php
/public/assets/css/style.css.map
/public/uploads/
/_reference/
/custom-trip-finder/
